html{
  font-family: 'Lexend Deca', sans-serif;
}
body{
  background-image: url("../assets/homepage/home.jpg");
   background-repeat: no-repeat;
   width: 100%;
   height: auto;
}
@media only screen and (max-width: 736px) {
  body {
    background-image: url("../assets/mobile-background/mobile-bg.jpg");
    background-repeat: no-repeat;
    width: 100%;
  }
}
.JP-logo{
  width: 27%;
  height: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}
.title-text{
  text-align: center;
color: white;
padding-left: 70px
}
.main-text{
  padding-bottom: 5px;
}
@media only screen and (max-width: 736px) {
  .title-text {
    display: none;
  }
  .JP-logo{
    display: none;
  }
  .mobile-view{
   display: inline-block !important;
   font-size: 20px !important;
  }
}
.mobile-view{
  display: none;
}
.logo-wrapper{
  padding-left: 300px;
  width: 50%;
  float: left;
}
.nav-links{
  padding-right: 400px;
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.home-content{
  padding-top: 500px;
  text-align: center;
}
@media only screen and (max-width: 736px) {
.home-content{
  padding-top: 300px;
}
}
.section1{
  background-image: url("../assets/homepage/cave.jpg");
   background-repeat: no-repeat;
   width: auto;
   height: 100%;
}
.header-attributes{
  background: rgba(0, 0, 0.0, 0.5);
  color: #ffffff;
margin-top: 150px;
margin-bottom: 250px;
 height: 600px;

}
.header-content{
  border-style: solid;
  border-width: 1px;
   border-color: #fff;
width: auto;
height: 560px;
margin-left: 20px;
margin-right: 20px;
}
@media only screen and (max-width: 736px) {
  .section1{
    background-image: url("../assets/mobile-background/mobile-bg2.jpg");
    background-repeat: repeat-y;
  }
  .header-attributes{
  margin-top: 50px;
  margin-bottom: 50px;
   height: 600px;

}
}
.parallax-container {
      height: "200px" !important;
    }

.section2{
  background-image: url("../assets/homepage/lake.jpg");
   background-repeat: no-repeat;
   width: 100%;
}
.section2-content{
   width: auto;
   height: 900px;
}
